---
import ArtAuthor from "@reusable/atoms/ArtAuthor.astro";
import CodeShowcase from "./CodeShowcase.md";
---

<style>
	li::before {
		content: "";
		display: inline-block;
		width: 1.5rem;
		aspect-ratio: 1/1;
		background-image: url("resource/svg/check.svg");
		background-size: cover;
	}
	.modules-section {
    scroll-margin-top: 80px; /* Offset scrolling */
  }
	
</style>
<section id="about" class="mb-section modules-section">
		<div
			class="max-w-[700px] mx-auto grid gap-8 xl:max-w-none xl:grid-cols-2"
		>
		<div>
			<h2 class="text-subtitle">
				Simplify Your Digital Life on <strong class="text-purple-300 font-medium">Mobile Phones</strong> with AI Assistance
			</h2>
			<p class="mb-8 text-lg">
				Take control of your mobile experience with our AI automation services designed specifically for smartphones. From setting alarms to managing your calendar and even booking your next trip, our AI ensures you get the most out of your mobile device without the hassle.
			</p>
			<p class="mb-8 text-lg">With our mobile automation service, you can:</p>
			<ul
				class="mb-6 flex flex-col gap-6 [&>*]:flex [&>*]:items-center [&>*]:gap-2"
			>
				<li>Send text messages and emails quickly and efficiently</li>
				<li>Manage your schedule and appointments on the go</li>
				<li>Book flights, hotels, and other services seamlessly</li>
				<li>Control phone settings and app functionalities</li>
			</ul>
			<span>and much more on your mobile phone...</span>
		</div>
			<div class="relative">
				<figure class="relative isolate hidden w-full aspect-square max-w-[500px] mx-auto lg:block">
					<div class="bg-pinia-400 absolute inset-0 rounded-full -z-10 opacity-50 scale-y-[.5] -rotate-45 blur-[200px]"></div>
					<img
						src="resource/img/bug.webp"
						alt="phone"
					/>
					<!-- <figcaption
						class="text-neutral-500 text-end text-xs font-extralight -translate-y-4"
					>
						<ArtAuthor href="https://www.instagram.com/villegas.arts">@Villegas.Arts</ArtAuthor>
					</figcaption> -->
				</figure>
				<!-- <div
					class="hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 sm:block xl:static xl:translate-x-0 xl:translate-y-0 [&>*]:p-4 [&>*]:w-max [&>*]:rounded-lg"
				>
					<CodeShowcase />
				</div> -->
			</div>
		</div>
</section>
