---
const months = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
];

const currentDate = new Date();
const day = currentDate.getDate();
const month = currentDate.getMonth();
const year = currentDate.getFullYear();

const result = `${day} ${months[month]} ${year}`;
---
<span class="flex justify-end items-center gap-1 text-xs">
    <img class="w-4 aspect-square" src="resource/svg/world.svg" alt="world icon">
    <span>
        Last updated on <span class="text-lime-300">{result}</span>
    </span>
</span>